In [32]:
import pandas as pd
import numpy as np

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
df_stu = pd.read_csv('/Users/usmanr/Downloads/Apply Advisor - Students.csv')

In [5]:
df_uni = pd.read_csv('/Users/usmanr/Downloads/Apply Advisor - Universities.csv', engine='python',encoding='latin1')

In [6]:
df_uni.head()

,Id,Name,CountryId,Type,WebSiteUrl,SholarshipsAvailable,AthletesAcceptance,InternationalAcceptance,TotalPopulation,FemalePopulationPercent,GraduateStudents,GraduationRate,YearlyNetPrice,EnrollmentFee,AdmissionRate,CurrencyCode,GTM,Status,IsOnline,ContractSigned,RespondedContact,HasAcceptedTermsAndConditions,Contacted,DiscountInstitutionPercent,DiscountInstitutionType,NotificationEmailLang
0,1,Alabama A & M University,321,0,www.aamu.edu/,1,0,0,0,54,0,29%,Not provided,NaN,87,USD,0,0,NaN,0,0,0,0,0.0,NaN,EN
1,2,University of Alabama at Birmingham,321,1,www.uab.edu,0,0,0,10042,44,2614,58%,10890,300.0,92,USD,-6,0,1.0,1,1,1,1,2.0,YearlyNetPrize,EN
2,3,Amridge University,321,0,www.amridgeuniversity.edu,0,0,0,0,47,0,0%,10155,300.0,0,USD,0,0,NaN,0,1,1,1,0.0,NaN,EN
3,4,University of Alabama in Huntsville,321,0,www.uah.edu,0,0,0,0,40,0,49%,19423,500.0,76,USD,0,0,NaN,0,0,0,1,0.0,NaN,EN
4,5,Alabama State University,321,0,www.alasu.edu,0,0,0,0,61,0,25%,15037,425.0,46,USD,0,0,NaN,0,0,0,1,0.0,NaN,EN

In [7]:
df_stu.head()

,StudentId,GPA,UniversityId,AdmittanceStatus,DepositPaymentStatus,Date
0,1,3.0,99,Rejected,0,1/10/2019
1,1,3.0,48,Rejected,0,1/10/2019
2,2,2.2,144,Rejected,0,1/10/2019
3,3,2.8,35,Admitted,0,1/10/2019
4,4,3.6,147,Admitted,0,1/10/2019

In [8]:
df_merged = df_stu.merge(df_uni, left_on = 'StudentId', right_on='Id')

In [40]:
df_uni.head()

,Id,Name,CountryId,Type,WebSiteUrl,SholarshipsAvailable,AthletesAcceptance,InternationalAcceptance,TotalPopulation,FemalePopulationPercent,GraduateStudents,GraduationRate,YearlyNetPrice,EnrollmentFee,AdmissionRate,CurrencyCode,GTM,Status,IsOnline,ContractSigned,RespondedContact,HasAcceptedTermsAndConditions,Contacted,DiscountInstitutionPercent,DiscountInstitutionType,NotificationEmailLang
0,1,Alabama A & M University,321,0,www.aamu.edu/,1,0,0,0,54,0,29%,Not provided,NaN,87,USD,0,0,NaN,0,0,0,0,0.0,NaN,EN
1,2,University of Alabama at Birmingham,321,1,www.uab.edu,0,0,0,10042,44,2614,58%,10890,300.0,92,USD,-6,0,1.0,1,1,1,1,2.0,YearlyNetPrize,EN
2,3,Amridge University,321,0,www.amridgeuniversity.edu,0,0,0,0,47,0,0%,10155,300.0,0,USD,0,0,NaN,0,1,1,1,0.0,NaN,EN
3,4,University of Alabama in Huntsville,321,0,www.uah.edu,0,0,0,0,40,0,49%,19423,500.0,76,USD,0,0,NaN,0,0,0,1,0.0,NaN,EN
4,5,Alabama State University,321,0,www.alasu.edu,0,0,0,0,61,0,25%,15037,425.0,46,USD,0,0,NaN,0,0,0,1,0.0,NaN,EN

In [10]:
df_merged.shape

(179, 32)

In [12]:
# how many students contacted
len(df_merged[df_merged['Contacted'] == 1])

175

In [20]:
# how many contactyed are online

len(df_uni[(df_uni['IsOnline'] == 1) & (df_uni['Contacted'] == 1)]) / len(df_uni[df_uni['Contacted'] == 1])

0.07861635220125786

In [41]:
df_uni[(df_uni['YearlyNetPrice'] != 'Not provided') & (df_uni['ContractSigned'] != 0)]['YearlyNetPrice']

1      10890
5      21676
11      1392
18      8781
30      5206
31     17914
34      8004
47     29026
48      4455
49      6860
78     28459
79     11572
80      9215
98      7497
136    10154
143    13581
146    12603
147    15867
150    17803
158    11723
161     3743
205    11180
251     5392
271     4014
296    32091
Name: YearlyNetPrice, dtype: object

In [44]:
l = list(df_uni[(df_uni['YearlyNetPrice'] != 'Not provided') & (df_uni['ContractSigned'] != 1)]['YearlyNetPrice'])

l = list(df_uni[(df_uni['YearlyNetPrice'] != 'Not provided') & (df_uni['ContractSigned'] != 1)]['YearlyNetPrice'])

In [45]:
np.mean(list(map(int, l)))

14412.101503759399

In [48]:
l = list(df_uni[(~df_uni['EnrollmentFee'].isna()) & (df_uni['SholarshipsAvailable'] != 1)]['EnrollmentFee'])

In [50]:
np.median(list(map(int, l)))

300.0

In [51]:
df_stu.columns

Index(['StudentId', 'GPA', 'UniversityId', 'AdmittanceStatus',
       'DepositPaymentStatus', 'Date'],
      dtype='object')

In [53]:
l = list(df_stu['GPA'])

In [54]:
np.mean(l)

3.0921787709497206

In [55]:
np.std(l)

0.5504140152218867

In [56]:
np.mean(l) - 1.7 * np.std(l)

2.1564749450725134

In [58]:
0.1 / 0.3

0.33333333333333337